<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#" routerLink="/parents">Parents</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li *ngIf="userIsLoggedIn">
            <a [routerLink]="['TaskEditorComponent']">Profiel</a>
          </li>
          <li *ngIf="!userIsLoggedIn"><a [routerLink]="['/login']">Login</a>
            <li *ngIf="!userIsLoggedIn"><a [routerLink]="['/register']">Registreer</a>
          </li>
          <li *ngIf="userIsLoggedIn">
            <a href="#" (click)="logout($event)">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<router-outlet></router-outlet>
