<input type="radio" value="F" name="gender"  [(ngModel)]="model.childGender" required> Meisje
<input type="radio" value="M" name="gender"  [(ngModel)]="model.childGender" required> Jongen
<input type="text" class="form-control" id="voornaam" name="voornaam" aria-describedby="voornaam" placeholder="Voornaam"
[(ngModel)]="model.voornaam" required>
<input type="text" class="form-control" id="achternaam" name="achternaam" aria-describedby="achternaam" placeholder="Achternaam"
[(ngModel)]="model.achternaam" required>
<input type="text" class="form-control" id="leeftijd" name="leeftijd" aria-describedby="leeftijd" placeholder="Leeftijd"
[(ngModel)]="model.leeftijd" required>