body{
  background:none !important;
}
@media(min-width: 768px){
  div#wrapper{
    padding-left:250px;
  }
}

@media(max-width:767px){
  a#menu-toggle{
    display:inline;
  }
}
.login-overlay{
  visibility: hidden;
}