<div class="container-fluid">


    <div class="center">
        <br>
        <div class="jumbotron">
            <a href="#" class="visible-xs" data-toggle="offcanvas">
                <i class="fa fa-lg fa-reorder"></i>
            </a>
            <h1>Welkom bij oogappl</h1>
            <p>Dit is een platform speciaal gemaakt voor co-ouderschap.</p>
        </div>

        <!--display all homepage templates if user has done setup-->
        <div *ngIf="currentUser?.doneSetup == true">
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Kindinfo</h2>
                    <p>Bekijk of wijzig hier de informatie van je kind of kinderen.</p>
                    <p>
                        <a class="btn btn-default" href="#">Bekijk »</a>
                    </p>
                </div>
            </div>
        </div>

        <!--Force user to do Setup-->
        <div class="center" *ngIf="currentUser?.doneSetup == false">
            <h2>Doorloop de Setup</h2>
            <button class="btn btn-default">Setup</button>
        </div>


        <!--/row-->
    </div>
    <!--/span-->


</div>