body{
  background: #F9F9F9;
}

@media(min-width: 768px){
  div#wrapper{
    padding-left:250px;
  }
}

@media(max-width:767px){
  a#menu-toggle{
    display:inline;
  }
}
.login-overlay{
  visibility: hidden;
}

app-login{
  display:none;
}

.content{
  padding: 25px 25px 25px 25px;
}