<div class="container-fluid">
     <div class="center">
        <br>
        <div class="jumbotron">
            <a href="#" class="visible-xs" data-toggle="offcanvas">
                <i class="fa fa-lg fa-reorder"></i>
            </a>
            <h1>Welkom bij oogappl</h1>
            <p>Dit is een platform speciaal gemaakt voor co-ouderschap.</p>
        </div>
    
    <!--Force user to do Setup-->
    <!--/span-->
    <!--display all homepage templates if user has done setup-->
    <div class="content" *ngIf="currentUser?.doneSetup == true">
        <div *ngIf="currentUser?.group.children">
                <app-child-info></app-child-info>
            </div>


            <!--/row-->
        </div>


    </div>