<div *ngIf="parent" class="row">
  <div class="col-md-12">
    <h2 *ngIf="parent._id">parent Details</h2>
    <h2 *ngIf="!parent._id">New parent</h2>
  </div>
</div>
<div *ngIf="parent" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="parent-name">Name</label>
      <input class="form-control" name="parent-name" [(ngModel)]="parent.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="parent-email">Email</label>
      <input class="form-control" name="parent-email" [(ngModel)]="parent.email" placeholder="support@mlab.com"/>
    </div>
    <div class="form-group">
      <label for="parent-phone-mobile">Mobile</label>
      <input class="form-control" name="parent-phone-mobile" [(ngModel)]="parent.phone.mobile" placeholder="1234567890"/>
    </div>
    <div class="form-group">
      <label for="parent-phone-work">Work</label>
      <input class="form-control" name="parent-phone-work" [(ngModel)]="parent.phone.work" placeholder="0123456789"/>
    </div>
    <button class="btn btn-primary" *ngIf="!parent._id" (click)="createParent(parent)">Create</button>
    <button class="btn btn-info" *ngIf="parent._id" (click)="updateParent(parent)">Update</button>
    <button class="btn btn-danger" *ngIf="parent._id" (click)="deleteParent(parent._id)">Delete</button>
  </form>
</div>
