<div class="center container-fluid">
  <h2 class="center page-title">Configureer jouw gezin.</h2>
  
  <form class="setupForm col-12 col-md-10 col-lg-8 col-xl-6 align-self-center" #setupF="ngForm" (ngSubmit)="submit()" [formGroup]="setupForm">

    <div class="form-group">
      <label>Bent u vader of moeder?</label>
      <mat-radio-group class="form-control" formControlName="gender" required>
        <mat-radio-button value="M" >Moeder</mat-radio-button>
        <mat-radio-button value="F" >Vader</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="setupF.submitted && !setupForm.get('gender').valid" class="alert alert-danger">Geslacht is verplicht</div>      
    </div>

    <div class="form-group">
      <label>Geef ons wat meer info over de andere ouder</label>
      <input type="email" class="form-control form-border" id="email" name="email" aria-describedby="email" placeholder="email" formControlName="otheremail" required>

      <div *ngIf="setupF.submitted && !setupForm.get('otheremail').valid" class="alert alert-danger">
          <div *ngIf="setupForm.get('otheremail').errors.required">
            Email is verplicht
          </div>
          <div *ngIf="setupForm.get('otheremail').errors.pattern">
            Geef een geldig email in
          </div>
      </div>

      <input type="text" class="form-control form-border" id="voornaam" name="voornaam" aria-describedby="voornaam" placeholder="Voornaam" formControlName="otherfirstname" required>
      <div *ngIf="setupF.submitted && !setupForm.get('otherfirstname').valid" class="alert alert-danger">Voornaam is verplicht</div>      
      
      <input type="text" class="form-control form-border" id="achternaam" name="achternaam" aria-describedby="achternaam" placeholder="Achternaam" formControlName="otherlastname" required>
      <div *ngIf="setupF.submitted && !setupForm.get('otherlastname').valid" class="alert alert-danger">Achternaam is verplicht</div>      
    </div>
   
    <div class="form-group">
      <label>Geef ons wat informatie over je kind(eren)</label>  
      <i class="material-icons" (click)="addChild()">person_add</i>

      <br>
      <app-child-add-form  *ngFor="let child of children"
        [child] = "child"
        [form] = "setupF">   
      </app-child-add-form>
    </div>
  
    <button type="submit" class="btn btn-info">Verzend</button>
    
  </form>
</div>
