<form-wizard>
  <wizard-step [title]="'Jij bent'" [isValid]="genderForm.form.valid" (onNext)="onStep1Next($event)">
    <h2>Step1</h2>
    <form #genderForm="ngForm">
      <div class="form-group">
        <label for="Gender">Bent u vader of moeder?
        </label>
        <input type="radio" value="F" name="type"  [(ngModel)]="model.type" required> Moeder
        <input type="radio" value="M" name="type"  [(ngModel)]="model.type" required> Vader
      </div>
    </form>
  </wizard-step>
  <wizard-step [title]="'Step2'"  [isValid]="otherParent.form.valid" (onNext)="onStep2Next($event)">
    <h2>Geef ons wat meer info over de andere ouder</h2>

    <form #otherParent="ngForm">
      <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="email"
      [(ngModel)]="model.otherEmail" required>
      <input type="text" class="form-control" id="voornaam" name="voornaam" aria-describedby="voornaam" placeholder="Voornaam"
      [(ngModel)]="model.otherFirstname" required>
      <input type="text" class="form-control" id="achternaam" name="achternaam" aria-describedby="achternaam" placeholder="Achternaam"
      [(ngModel)]="model.otherLastname" required>
    </form>
    
  </wizard-step>
  <wizard-step [title]="'Step3'" (onNext)="onStep3Next($event)">
    <h2>Geef ons wat informatie over je kind(eren)</h2>  
    <app-childForm  *ngFor="let child of children"
      [child] = "child"
    >   
    </app-childForm>
  </wizard-step>
  <wizard-step [title]="'Step4'" (onComplete)="onComplete($event)">
    <div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>
        <h1>Step4</h1>
      </div>
      <div *ngSwitchCase="true">
        <h4>Thank you! You have completed all the steps.</h4>
      </div>
    </div>
  </wizard-step>
</form-wizard>