<h2 class="center page-title">Evenement toevoegen</h2>
<div class="center container-fluid">
    <form class="eventForm col-12 col-md-10 col-lg-8 col-xl-6 align-self-center" (ngSubmit)="save()" #eventForm="ngForm">
        <div>
    
          <div class="form-item">
            <label>Titel</label>
              <input
              type="text"
              class="form-control form-border"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
              name="title">
          </div>
    
          <div class="form-item">
            <label>Start datum</label>
            <mwl-demo-utils-date-time-picker 
              [(ngModel)]="event.start" 
              (ngModelChange)="refresh.next()"
              placeholder="Not set" 
              name="startDate">
            </mwl-demo-utils-date-time-picker>
          </div>

    
          <div class="form-item">
            <label>Eind datum</label>
            <mwl-demo-utils-date-time-picker
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              placeholder="Not set"
              name="endDate">
            </mwl-demo-utils-date-time-picker>
          </div>
    
          <div class="form-item">
            <label>Beschrijving</label>
              <input
              type="text"
              class="form-control form-border"
              [(ngModel)]="event.description"
              (keyup)="refresh.next()"
              name="description"
              placeholder="beschrijving">
          </div>

          <div class="form-item">
              <label>Categorie</label>
              <select #selectElem (change)="setCat(selectElem.value)">
                  <option *ngFor="let cat of categories" [value]="cat.type">
                    <label>{{cat.type}}</label>
                  </option>
              </select>
              <a id="category-add" (click)="openDialog()"><i class="material-icons">add</i></a>              
          </div>
          <div *ngIf="currentUser">
            <div class="form-item">
              <label>Voor kind</label>
              <select #selectElem (change)="setChild(selectElem.value)">
                  <option *ngFor="let ch of currentUser.group.children" [value]="ch._id">
                    <label>{{ch.firstname}}</label>
                  </option>
              </select>             
            </div>
          </div>

          <div *ngIf="currentUser">
            <mat-radio-group  [(ngModel)]="event.children"  name="children">
              <mat-radio-button value="{{currentUser.group.children}}" (change)="setChild(0)">Voor alle kinderen</mat-radio-button>
              <div *ngFor="let ch of currentUser.group.children">
                <mat-radio-button value="{{ch}}" (change)="setChild(ch._id)" >{{ch.firstname}}</mat-radio-button>
              </div>     
            </mat-radio-group>
          </div>
          

          <button class="btn btn-blue-big btn-primary pull-right" type="submit">
            Opslaan
          </button>
        </div>
      
      </form>     
</div>


  