.eventForm{
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.eventForm label{
    color: grey;
    margin-top: 20px;
}

.eventForm input{
    width: 350px;
}

.eventForm button{
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

body{
    background-color: white;
}
