.eventForm{
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.eventForm label{
    color: grey;
    margin-top: 20px;
}

.eventForm input{
    width: 350px;
}

.eventForm button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none !important;
}

body{
    background:none !important;
}

#category-add{
    cursor: pointer;
}
