body{
    background-color: #F9F9F9;
}
.eventForm{
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.eventForm label{
    color: grey;
    margin-top: 20px;
}

.eventForm input{
    width:100%;
}

.eventForm button{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none !important;
}
.eventForm .input-group{
    width:100%;
}

body{
    background:none !important;
}

#category-add{
    cursor: pointer;
}
