<h2 class="center page-title">Evenement toevoegen</h2>
<div class="center">
    <form class="eventForm" (ngSubmit)="save()" #eventForm="ngForm">
        <div>
    
          <div class="form-item">
            <label>Titel</label>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
              name="title">
          </div>
    
          <div class="form-item">
            <label>Start datum</label>
            <mwl-demo-utils-date-time-picker 
              [(ngModel)]="event.start" 
              (ngModelChange)="refresh.next()"
              placeholder="Not set" 
              name="startDate">
            </mwl-demo-utils-date-time-picker>
          </div>

    
          <div class="form-item">
            <label>Eind datum</label>
            <mwl-demo-utils-date-time-picker
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              placeholder="Not set"
              name="endDate">
            </mwl-demo-utils-date-time-picker>
          </div>
    
          <div class="form-item">
            <label>Beschrijving</label>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="event.description"
              (keyup)="refresh.next()"
              name="description"
              placeholder="beschrijving">
          </div>

          <div class="form-item">
              <label>Categorie</label>
              <select #selectElem (change)="setCat(selectElem.value)">
                  <option *ngFor="let cat of categories" [value]="cat.type">
                    <label>{{cat.type}}</label>
                  </option>
              </select>
            </div>
          <button class="btn btn-primary pull-right" type="submit">
            Save
          </button>
        </div>
      
      </form>


     
</div>

<div class="left">
    <form>
        <button
        class="btn btn-primary"
        (click)="newCategory()">
        Voeg nieuwe categorie toe
        </button>
      
        <div *ngIf="category">
            <input 
            type="text"
            [(ngModel)]="category.type"    
            name="type"
            placeholder="naam categorie">
        
            <input
            type="color"
            [(ngModel)]="category.color"
            (change)="refresh.next()"
            name="color">
      
          <button
            class="btn btn-primary"
            (click)="addCategory()">
            Ok
          </button>
        </div>
        
      </form>
       
</div>



  