:root {
  --bg-start-blue: #00C6FF;
  --bg-end-blue: #3E8DBC;
  --color-mid-blue: #48A9DD;
  --color-light-gray: #E5E5E5;
}

/*body{
  background: var(--color-mid-blue);
  
}

@media(min-width: 768px){
body{
  background: -webkit-linear-gradient(left, #00C6FF, #3E8DBC);
  background: -o-linear-gradient(right, #00C6FF, #3E8DBC);
  background: -moz-linear-gradient(right, #00C6FF, #3E8DBC);
  background: linear-gradient(to right, #00C6FF, #3E8DBC);
}
}*/

.command{
  margin: 0 auto;
}

.loginForm{
  margin: 0 auto;
}

.button-login input{
  font-size: 1.5rem !important
}

@media(min-width: 768px){
  body{
    background: -webkit-linear-gradient(left, #00C6FF, #3E8DBC);
    background: -o-linear-gradient(right, #00C6FF, #3E8DBC);
    background: -moz-linear-gradient(right, #00C6FF, #3E8DBC);
    background: linear-gradient(to right, #00C6FF, #3E8DBC);
  }
}

/*undo wrapper css*/
#wrapper{
  padding: 0;
}
#menu-toggle{
  display: none;
}

.login-overlay{
  visibility: visible;
}

.title-login{
  margin-top: 50px !important
}
