<div class="container">
  <div *ngIf="currentUser">
      <h2>Profielpagina</h2>
      <i routerLink="/profiel/edit" class="material-icons">mode_edit</i>
      <a routerLink="/profiel/edit" routerLinkActive="active">Edit</a>
  </div>
  <div class="card card-profile">
      <div class="card-img-left">
          <img class="img img-responsive" src="../../assets/img_man.jpg"/>
      </div>
      <div class="card-content">
            <h2>{{currentUser?.firstname}}</h2>
            <h4>{{currentUser?.lastname}}</h4>
            <p>Type</p>
      </div>
  </div>
  <div class="card" *ngIf="currentUser?.addressStreet">
      <h3 class="center">Adres</h3>
      <p  *ngIf="currentUser?.addressStreet || currentUser?.addressNumber || currentUser?.addressPostalcode || currentUser?.addressCity">Adres: {{currentUser?.addressStreet}} {{currentUser?.addressNumber}}<br>
          {{currentUser?.addressPostalcode}} {{currentUser?.addressCity}}</p>
      <p *ngIf="currentUser?.telephoneNumber">Tel Nr.: {{currentUser?.telephoneNumber}}</p>
      <p *ngIf="currentUser?.workName || currentUser?.workNumber">Werk: {{currentUser?.workName}} <br> {{currentUser?.workNumber}}</p>  
  </div>
  
</div>
