<div class="col">
  <br>
  <div class="card">
    <div class="card-img-left">

        <div class="card-img-left overlay-container">
            <div class="container">
                <img *ngIf="!model?.picture" class="img img-responsive" src="../../assets/noPicture.jpg"/>
                <img *ngIf="imageValue" [src]="_domSanitizer.bypassSecurityTrustUrl(imageValue)" alt="{{model.picture.filename}}"/>
              <div class="overlay">
                <div class="text"><button  data-toggle="modal" data-target="#pictureChild"><i class="material-icons">mode_edit</i></button>
                </div>
              </div>
            </div>
        </div>

    </div>

    <div class="content">
      <h3>{{model?.firstname}} {{model?.lastname}}</h3>
      <div *ngFor="let c of categories; let ci = index">
        <h5>{{c.name}}</h5>
        <div *ngFor="let i of c.info; let ii = index">
          <label>{{i.name}}:</label>
          <label>{{i.value}}</label>
        </div>
      </div>
      <div>
        <label>Geslacht: {{model?.gender}}</label>
      </div>
      <div>
        <label>Geboortedatum: {{model?.birthdate}}</label>
      </div>
    </div>

  </div>
 <br>
</div>

<!-- Modal -->
<div class="modal fade" id="pictureChild" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Voeg kindfoto toe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <input type="file" id="file" name="file" (change)="showPreview()" #fileInput/>
        <img *ngIf="codedFile" class="preview" src="data:{{codedFile.filetype}};base64,{{codedFile.value}}" alt="{{codedFile.filename}}" #preview/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Terug</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addPictureChild()">Toevoegen</button>
      </div>
    </div>
  </div>
</div>
