body{
  background-color: #F9F9F9;
}

.profielForm{
  margin: 0 auto;
}

.profielForm{
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.profielForm label{
  color: grey;
  margin-top: 20px;
}

.profielForm input{
  width:100%;
}

.profielForm button{
  margin-top: 10px;
  margin-bottom: 10px;
  border: none !important;
}
.profielForm .input-group{
  width:100%;
}