
<div class="row">
  <div class="col-md-5">
    <h2>Parents</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let parent of parents"
        (click)="selectParent(parent)"
        [class.active]="parent === selectedParent">
        {{parent.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewParent()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-parents-details
      [parent]="selectedParent"
      [createHandler]="addParent"
      [updateHandler]="updateParent"
      [deleteHandler]="deleteParent">
    </app-parents-details>
  </div>
</div>
