<div *ngIf="currentUser" id="sidebar-wrapper">
  <ul class="sidebar-nav" id="myNavbar">
    <li class="sidebar-brand">
      <a href="#">
        <h1>OOGAPPL.</h1>
      </a>
    </li>
    <li class="sidebar-account">
      <div class="sidebar-account-img text-center">
        <img *ngIf="!currentUser?.picture" class="img img-responsive" src="../../assets/noPicture.jpg"/>
        <img *ngIf="currentUser?.picture" src="data:{{currentUser.picture.filetype}};base64,{{currentUser.picture.value}}" alt="{{currentUser.picture.filename}}"/>
      </div>
      <div class="sidebar-account-content">
          <a routerLink="/profiel/edit" routerLinkActive="active">
            <i class="material-icons">settings</i> 
          </a>         
      </div>
      <div class="sidebar-account-content">
        <h3>{{user?.firstname}} {{user?.lastname}}</h3>
        <p *ngIf="currentUser?.type == 'M' ">Moeder</p>
        <p *ngIf="currentUser?.type == 'F' ">Father</p>
      </div>
    </li>
    <li>
      <div *ngIf="router.url === '/home' || router.url === '/'" class="current bg-blue-gradient"></div>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <!--
    <li>
      <span *ngIf="router.url === '/profiel'" class="current bg-blue-gradient"></span>
      <a routerLink="/profiel" routerLinkActive="active">Profiel</a>
    </li>
    <li *ngIf="currentUser?.doneSetup ">
      <span *ngIf="router.url === '/children'" class="current bg-blue-gradient"></span>
      <a routerLink="/children" routerLinkActive="active">Kindinfo</a>
    </li>
    -->
    <li>
      <span *ngIf="router.url === '/calendar'" class="current bg-blue-gradient"></span>
      <a routerLink="/calendar" routerLinkActive="active">Kalender</a>
    </li>
    <li>
        <span *ngIf="router.url === '/costs'" class="current bg-blue-gradient"></span>
        <a routerLink="/costs" routerLinkActive="active">Kosten</a>
      </li>
    <li>
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
