<div>
    <br>
    <div class="card">
        <h3>{{model?.firstname}} {{model?.lastname}}</h3>
      <div *ngFor="let c of categories; let ci = index">
        {{c.name}}
        <div *ngFor="let i of c.info; let ii = index">
          <label for="{{i.name}}">{{i.name}}</label>
          <input type="text" name="{{i.name}}" id="{{i.name}}" value="{{i.value}}" #value (change)="save(ci, ii, value.value)"><br>
          <button class="btn btn-default" (click)="delete(ci, i)"> Delete </button>
        </div>
        <div>
            <br>
            <h4>Nieuwe Info:</h4>
            <div class="form-item">
                <label for="infoNodeName">Infotype: </label>
                <input type="text" name="infoNodeName" id="infoNodeName" #name>
            </div>
            <div class="form-item">
                <label for="infoNodeValue">Info: </label>
                <input type="text" name="infoNodeValue" id="infoNodeValue" #value><br>    
            </div>
            <button class="btn btn-default" (click)="addInfoNode(ci, name.value, value.value)"> Voeg toe </button>    
          </div>
          <br>
      </div>
      
      <div>
        <input type="text" name="categorieNaam" id="categorieNaam" #naam><br>        
        <button class="btn btn-default" (click)="addCategorie(naam.value)"> Nieuwe categorie </button>        
        <button class="btn btn-default" (click)="saveChanges()"> Save </button>      
      </div>
    </div>
   <br>
  </div>
  